<label>Nom de la personne</label>
<br />

<input type="text" (input)="updatePersonName($event)"/> 
<span> ----- Event binding</span>
<br />

<input type="text" [(ngModel)]="personName"/> 
<span> ----- binding bidirectionnel</span>
<br />

<label>Age de la personne</label> 
<br />
<input type="text" [(ngModel)]="personAge"/> 
<br />

<p> {{ personName }} <span>----- String interpolation sur le nom de la personne</span></p>

<button [disabled] = "!allowNewPerson"
(click) = "onCreatePerson()">Ajouter une personne</button> 
<span>----- Property binding</span>

<p> {{ personCreationStatus }} <span>----- String interpolation sur "personCreationStatus"</span></p> 

<div class="borderDiv">
    <p>La liste des personnes:</p>
    <div *ngFor = "let person of personList">
        <app-person [name]="person.name" [age]="person.age" (onChangePerson)="onUpdatePerson($event)"
        editable="true"></app-person>
    </div>
</div>

<br />

<div class="borderDiv">
    <p>La dernière personne mise à jour:</p>
    <p *ngIf="lastUpdatedPerson===undefined; else whenLastUpdatedPersonExist">Aucune personne n'a été mise à jour récemment</p>
    <ng-template #whenLastUpdatedPersonExist>
        <app-person [name]="lastUpdatedPerson.name" [age]="lastUpdatedPerson.age"></app-person>
    </ng-template>
</div>

<!-- <div id = "app-person"></div> -->