<h3>Voici la page d'acceuil</h3>

<p> la liste des serveurs : {{ servers | json}} </p>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status | uppercase }}
          </span>
          <strong>{{ server.name | shorten: 4:9}}</strong> |
          {{ server.instanceType }} |
          {{ server.started | date:'dd-MM-yy' }}
        </li>
      </ul>
    </div>
  </div>
</div>
